* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2A9D8F;
    text-align: center;
}

.Container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18Vmin;
    width: 18Vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0.15);
    background-color: #E9C46A;
}

.Reset {
    height: 5Vmin;
    width: 10Vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0.15);
    background-color:crimson;
}